
<style>

/*---BODY---*/

body { 
    background-image: url('bg/bg9.jpg');
}

/*---GALLERY---*/

.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
    position: absolute;
    top: 150px;
    left: 300px;
}

.gallery:hover {
    border: 1px solid #777;
}

.gallery img {
    width: 100%;
    height: auto;
}

</style>