
<style>

/*---BODY---*/

body { 
    background-image: url('bg/bg7.jpg');
}

/*---BG---*/

.boxbg{
    background-color: white;
    border-radius: 5px;
    opacity: 0.6;
    width: 1235px;
    height: 1000px;
    right: 30px;
    left: 30px;
    top: 45px;
    bottom: 20px;
    padding: 10px 20px;
    margin: 10px 10px;
    position: absolute;
    
}

/*---GALLERY---*/

.gallery {
    margin: 5px;
    border: 5px solid #ccc;
    float: left;
    width: 180px;
    position: absolute;
    top: 150px;
    left: 300px;
}

.gallery:hover {
    border: 7px solid #777;
}

.gallery img {
    width: 100%;
    height: auto;
}





</style>