<style>
.container {
  position: absolute;
  width: 50%;
}

.image {
  display: block;
  width: 250px;
  height: 250px;
}

.overlay {
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 150px;
  right: 0;
  height: 250px;
  width: 250px;
  opacity: 0;
  transition: .5s ease;
  background-image: url(bg/bg.jpg);
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  font-family: "Verdana", Times, sans-serif;
  position: relative;
  top: 120px;
  left: 176px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.text2{
    color: #232425;
    font-family: "Verdana", Times, sans-serif;
    font-size: 15px;
}

.text3{
    color: white;
    font-family: "Verdana", Times, sans-serif;
    font-size: 10px;
    position: relative;
    top: 130px;
    left: 145px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

body { 
    background-image: url("bg/bg5.jpg");
    background-repeat: no-repeat;
    background-size: 1366px 768px;
    background-attachment: fixed;
    position: fixed;
    overflow-y: scroll;
    width: 100%;

}

h3{
    color: #232425;
    font-family: "Verdana", Times, sans-serif;
    position: fixed;
    top: 45px;
    left: 510px;
}

.jam{

    color: #232425;
    font-family: "Verdana", Times, sans-serif;
    position: fixed;
    top: 348px;
    left: 510px;
}

.div1 {

    width: 250px;
    height: 40px;
    border-style: hidden;
    border-color: white;
    border-width: 5px;
    background-color: white;
    border-radius: 5px;
    position: fixed;
    top: 325px;
    left: 157px;
    opacity: 0.8;
}

.div2 {

    width: 250px;
    height: 40px;
    border-style: hidden;
    border-color: white;
    border-width: 5px;
    background-color: white;
    border-radius: 5px;
    position: fixed;
    top: 375px;
    left: 157px;
    opacity: 0.8;
}
.div3 {

    width: 250px;
    height: 40px;
    border-style: hidden;
    border-color: white;
    border-width: 5px;
    background-color: white;
    border-radius: 5px;
    position: fixed;
    top: 425px;
    left: 157px;
    opacity: 0.8;
}
.div4 {

    width: 250px;
    height:55px;
    border-style: hidden;
    border-color: white;
    border-width: 5px;
    background-color: white;
    border-radius: 5px;
    position: fixed;
    top: 475px;
    left: 157px;
    opacity: 0.8;
}
.div5 {

    width: 250px;
    height: 40px;
    border-style: hidden;
    border-color: white;
    border-width: 5px;
    background-color: white;
    border-radius: 5px;
    position: fixed;
    top: 540px;
    left: 157px;
    opacity: 0.8;
}

.div6 {

    width: 755px;
    height:50px;
    border-style: hidden;
    border-color: white;
    border-width: 5px;
    background-color: white;
    border-radius: 5px;
    position: fixed;
    top: 50px;
    left: 500px;
    opacity: 0.5;
}

.divbox{

    width: 735px;
    height: 200px;
    position: fixed;
    top: 105px;
    left: 490px;
    padding: 10px;
    margin: 10px;
    border: hidden;
    background-color: white;
    border-radius: 5px
}

.div7 {

    width: 755px;
    height:50px;
    border-style: hidden;
    border-color: white;
    border-width: 5px;
    background-color: white;
    border-radius: 5px;
    position: fixed;
    top: 351px;
    left: 500px;
    opacity: 0.5;
}

.divbox2{

    width: 735px;
    height: 200px;
    position: fixed;
    top: 405px;
    left: 490px;
    padding: 10px;
    margin: 10px;
    border: hidden;
    background-color: white;
    border-radius: 5px
}




</style>