<style>
.container {
  position: absolute;
  width: 50%;
}

.image {
  display: block;
  width: 250px;
  height: 250px;
}

.overlay {
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 150px;
  right: 0;
  height: 250px;
  width: 250px;
  opacity: 0;
  transition: .5s ease;
  background-color: #eddfce;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  font-family: arial;
  font-style: arial bold;
  position: relative;
  top: 120px;
  left: 190px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

p.1{
    position: fixed;
    top:230px;

}

.text2{
    color: black;
    font-family: "Verdana", Times, sans-serif;
    font-size: 15px;
}

body { 
    background-image: url("bg/bg5.jpg");
    background-repeat: no-repeat;
    background-size: 1366px 768px;
    background-attachment: fixed;
    position: fixed;
    overflow-y: scroll;
    overflow-x: scroll;
    width: 100%;

}


.div1 {

    width: 250px;
    height: 40px;
    border-style: hidden;
    border-color: white;
    border-width: 5px;
    background-color: white;
    border-radius: 5px;
    position: fixed;
    top: 325px;
    left: 157px;
    opacity: 0.3;
}

.div2 {

    width: 250px;
    height: 40px;
    border-style: hidden;
    border-color: white;
    border-width: 5px;
    background-color: white;
    border-radius: 5px;
    position: fixed;
    top: 375px;
    left: 157px;
    opacity: 0.3;
}
.div3 {

    width: 250px;
    height: 40px;
    border-style: hidden;
    border-color: white;
    border-width: 5px;
    background-color: white;
    border-radius: 5px;
    position: fixed;
    top: 425px;
    left: 157px;
    opacity: 0.3;
}
.div4 {

    width: 250px;
    height:55px;
    border-style: hidden;
    border-color: white;
    border-width: 5px;
    background-color: white;
    border-radius: 5px;
    position: fixed;
    top: 475px;
    left: 157px;
    opacity: 0.3;
}
.div5 {

    width: 250px;
    height: 40px;
    border-style: hidden;
    border-color: white;
    border-width: 5px;
    background-color: white;
    border-radius: 5px;
    position: fixed;
    top: 540px;
    left: 157px;
    opacity: 0.3;
}

</style>